body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffe6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 15px;
}

h1 {
  color: #ff4d6d;
}

p {
  font-size: 18px;
  color: #ff4d6d;
}
